<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ayuda | SAFJ</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link th:href="@{/css/vuetify.min.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <style>
        .application .theme--dark.v-toolbar, .theme--dark .v-toolbar {
            background-color: #01579B;
            color: #fff;
        }

    </style>
</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-container>
                <v-toolbar dark>
                    <v-toolbar-side-icon></v-toolbar-side-icon>
                    <v-toolbar-title class="manito"
                    >Ayuda de SAFJ
                    </v-toolbar-title>

                    <v-spacer></v-spacer>
                    <v-toolbar-items class="hidden-sm-and-down">
                        <v-btn flat
                        >Ingresar
                        </v-btn>

                        <v-btn flat
                        >Crear Cuenta
                        </v-btn>

                    </v-toolbar-items>
                </v-toolbar>
                <v-layout row wrap>
                    <v-flex xs6 offset-sm3 mt-2>

                        <div>
                            <v-alert style="text-align: justify;"
                                    :value="true"
                                    type="info">
                                Si ha olvidado su contraseña, escriba su nombre de <b>usuario</b> en el formulario que aparece abajo. Entonces el Sitema de la Autoridad del Juego - SAFJ, verificará su cuenta, si existe el usuario, el sistema le enviará a su correo institucional para comfirmar el cambio de contraseña, por lo que no debe compartir el enlace con nadie.
                            </v-alert>
                        </div>

                        <form @submit.prevent="checkUser"
                              autocomplete="off">
                            <v-layout column mt-2>
                                <v-flex>
                                    <v-text-field
                                        name="email"
                                        label="Usuario"
                                        id="email"
                                        type="text"
                                        v-model="email"
                                        :rules="userNameRules"
                                        color="info"
                                        required
                                        @keyup.enter="checkUser"
                                        @keyup="clearDivs"/>
                                </v-flex>

                                <div>
                                    <v-alert
                                        style="display: none;"
                                        id="pepe"
                                        dismissible="true"
                                        v-model="alerta"
                                        transition="scale-transition"
                                        outline
                                        type="error">
                                        El nombre de usuario no está registrado, para el registro de un nuevo usuario comuníquese con el administrador del sistema.
                                    </v-alert>
                                </div>

                                <div>
                                    <v-alert
                                            style="display: none;"
                                            id="exito"
                                            dismissible="true"
                                            transition="scale-transition"
                                            outline
                                            type="success">
                                    </v-alert>
                                </div>

                                <v-flex class="text-xs-center" mt-3>
                                    <v-btn color="primary"
                                           type="submit"
                                           :disabled="!validar"
                                           id="btn_succes">
                                        <v-icon>assignment_ind</v-icon>Verificar
                                    </v-btn>

                                    <v-btn id="loading" color="primary" loading style="display: none;">

                                    </v-btn>
                                </v-flex>

                            </v-layout>
                        </form>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>

<script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vuetify.min.js}"></script>
<script>

    var URL_FORGET = 'http://172.16.30.17:2030/winter/forgot';
    var URL_SAMPLE = 'http://172.16.30.17:2030/winter/reset?token=';

    var app = new Vue({
        el: '#app',
        data: {
            email: '',
            valid: false,
            userNameRules: [v => !!v || "Escriba el nombre de usuario"],
            alerta: true,

            isLoading: false,
        estaCargando: false
        },
        methods: {
            async checkUser() {

                document.getElementById("btn_succes").style.display = 'none';
                document.getElementById("loading").style.display = '';

                axios.post(URL_FORGET, {
                    username: this.email
                })
                .then(function (response) {

                    console.log(response.data);
                    console.log(response.data.mensaje);

                    document.getElementById("exito").style.display = '';
                    document.getElementById("exito").innerHTML = response.data.mensaje;

                    document.getElementById("btn_succes").style.display = '';
                    document.getElementById("loading").style.display = 'none';

                    window.setTimeout(function(){
                        window.location.href = "/winter/forgot";
                    }, 4000);

                })
                .catch(function (error) {

                    document.getElementById("btn_succes").style.display = '';
                    document.getElementById("loading").style.display = 'none';
                    console.log(error)
                    document.getElementById("pepe").style.display = '';

                    var y = document.getElementsByClassName('v-alert__dismissible');
                    var aNode = y[0];
                    aNode.addEventListener("click", () => {
                        document.getElementById("pepe").style.display = 'none';
                    })
                });

            },

            clearDivs () {
                console.log('pepeps')
                document.getElementById("exito").style.display = 'none';
            },

            async checkUserToken (token) {
token = 'd71f3c99-0669-4c7b-9cb8-27c922397227'
                axios.get(URL_SAMPLE + token)
                    .then(function (response) {
                        console.log(response.data);
                        // console.log(response.data.mensaje);
                    })
                    .catch(function (error) {
                        console.log(error.response.data);
                    });


            }

        },
        computed: {
            validar() {
                if (this.email.length > 0) {
                    // disable
                    return this.valid = true
                }  else {
                    return this.valid = false
                }
            }
        }
    });
</script>
</body>
</html>