<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ayuda | SAFJ</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link th:href="@{/css/vuetify.min.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <style>
        .application .theme--dark.v-toolbar, .theme--dark .v-toolbar {
            background-color: #01579B;
            color: #fff;
        }

        .ocultar {
            display: none;
        }

        .loading_blink{
            -webkit-animation:blink 1.0s step-end infinite alternate;
            -moz-animation:blink 1.0s step-end infinite alternate;
            animation:blink 1.0s step-end infinite alternate;
        }

        /* 点滅 */
        @-webkit-keyframes blink{
            21%,40%,61%,80%,100% {opacity:0;}
            0%,20%,41%,60%,81%,99% {opacity:1;}
        }
        @-moz-keyframes blink{
            21%,40%,61%,80%,100% {opacity:0;}
            0%,20%,41%,60%,81%,99% {opacity:1;}
        }
        @keyframes blink{
            21%,40%,61%,80%,100% {opacity:0;}
            0%,20%,41%,60%,81%,99% {opacity:1;}
        }

    </style>
</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-container>
                <v-toolbar dark>
                    <v-toolbar-side-icon></v-toolbar-side-icon>
                    <v-toolbar-title class="manito"
                    >Ayuda de SAFJ
                    </v-toolbar-title>

                    <v-spacer></v-spacer>
                    <v-toolbar-items class="hidden-sm-and-down">
                        <v-btn flat
                        >Ingresar
                        </v-btn>

                        <v-btn flat
                        >Crear Cuenta
                        </v-btn>

                    </v-toolbar-items>
                </v-toolbar>
                <v-layout row wrap>
                    <v-flex xs6 offset-sm3 mt-2>

                        <div th:if="${messageOK}">
                            <v-alert style="text-align: justify;"
                                     :value="true"
                                     type="info">
                                <p th:text="${messageOK}"></p>
                            </v-alert>
                        </div>

                        <div th:if="${message}">
                            <v-alert style="text-align: justify;"
                                    :value="true"
                                    type="warning">
                                <p th:text="${message}"></p>
                            </v-alert>
                        </div>

                        <form @submit.prevent="checkUser"
                              autocomplete="off"
                              th:classappend="${message} ? ocultar : ''">
                            <v-layout column mt-2>

                                <v-flex>
                                    <v-text-field
                                            name="password"
                                            label="Contraseña"
                                            id="password"
                                            type="password"
                                            v-model="password"
                                            required

                                            :append-icon="passwordVisible ? 'visibility' : 'visibility_off'"
                                            :type="passwordVisible ? 'text' : 'password'"
                                            @click:append="passwordVisible = !passwordVisible"
                                            :rules="passwordRules" />
                                </v-flex>
                                <v-flex>
                                    <v-text-field
                                            name="confirmPassword"
                                            label="Confirmar Contraseña"
                                            id="confirmPassword"
                                            type="password"
                                            required
                                            v-model="passwordConfirm"
                                            :rules="[comparePasswords]"

                                            :append-icon="passwordConfirmVisible ? 'visibility' : 'visibility_off'"
                                            :type="passwordConfirmVisible ? 'text' : 'password'"
                                            @click:append="passwordConfirmVisible = !passwordConfirmVisible" />
                                </v-flex>


                                <div>
                                    <v-alert
                                            style="display: none;"
                                            id="exito"
                                            dismissible="true"
                                            transition="scale-transition"
                                            outline
                                            type="success">
                                    </v-alert>
                                </div>

                                <v-flex class="text-xs-center" mt-3>
                                    <v-btn color="primary"
                                           type="submit"
                                           :disabled="!validar"
                                           v-if="!isLoading">
                                        <v-icon>vpn_key</v-icon>Cambiar contraseña
                                    </v-btn>
                                    <v-btn v-else>
                                        <span class="loading_blink" uk-icon="icon: bolt"></span>
                                    </v-btn>
                                </v-flex>

                            </v-layout>
                        </form>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>

<script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vuetify.min.js}"></script>
<script>

    var URL_FORGET = 'http://172.16.30.17:2030/winter/forgot';
    var URL_SAMPLE = 'http://172.16.30.17:2030/winter/reset?token=';


    var app = new Vue({
        el: '#app',

        data: {
            passwordRules: [v => !!v || "Escriba la contraseña del usuario"],

            passwordVisible: false,
            password: '',

            passwordConfirmVisible: false,
            passwordConfirm: '',

            isLoading: false
        },

        methods: {
            async checkUser() {
                console.log('pepep')
                // axios.post(URL_FORGET, {
                //     username: this.email
                // })
                // .then(function (response) {
                //
                // }).catch((e) => {
                //     console.log(error.response.data)
                // });
            }
        },

        computed: {
            validar() {
                if (this.password.length > 0 &&
                    this.passwordConfirm.length > 0 &&
                    this.password === this.passwordConfirm) {
                    // disable
                    return this.valid = true
                }  else {
                    return this.valid = false
                }
            },

            comparePasswords() {
                return this.password === this.passwordConfirm ? true : 'Las contraseñas no coinciden'
            }
        }
    });
</script>
</body>
</html>