<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ayuda | SAFJ</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link th:href="@{/css/vuetify.min.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <style>
        .application .theme--dark.v-toolbar, .theme--dark .v-toolbar {
            background-color: #01579B;
            color: #fff;
        }

        .ocultar {
            display: none;
        }

    </style>
</head>
<body>
<div id="app">
    <v-app>
        <v-content>
            <v-container>

                <v-toolbar dark>
                    <v-toolbar-side-icon></v-toolbar-side-icon>
                    <v-toolbar-title class="manito"
                    >Ayuda de SAFJ
                    </v-toolbar-title>

                    <v-spacer></v-spacer>
                    <v-toolbar-items class="hidden-sm-and-down">
                        <v-btn flat
                        >Ingresar
                        </v-btn>

                        <v-btn flat
                        >Crear Cuenta
                        </v-btn>

                    </v-toolbar-items>
                </v-toolbar>

                <v-layout row wrap>
                    <v-flex xs6 offset-sm3 mt-2>

                        <!-- begin display errors -->

                        <div th:if="${messageOK}">
                            <v-alert style="text-align: justify;"
                                     :value="true"
                                     type="info">
                                <p th:text="${messageOK}"></p>
                            </v-alert>
                        </div>

                        <div th:if="${message}">
                            <v-alert style="text-align: justify;"
                                    :value="true"
                                    type="warning">
                                <p th:text="${message}"></p>
                            </v-alert>
                        </div>

                        <!-- end display errors -->

                        <form @submit.prevent="changePassword"
                              autocomplete="off"
                              th:classappend="${message} ? ocultar : ''">
                            <input id="token" type="hidden" th:value="${resetToken}" />
                            <v-layout column mt-2>

                                <v-flex>
                                    <v-text-field
                                            name="password"
                                            label="Contraseña"
                                            id="password"
                                            type="password"
                                            v-model="password"
                                            required

                                            :append-icon="passwordVisible ? 'visibility' : 'visibility_off'"
                                            :type="passwordVisible ? 'text' : 'password'"
                                            @click:append="passwordVisible = !passwordVisible"
                                            :rules="passwordRules" />
                                </v-flex>
                                <v-flex>
                                    <v-text-field
                                            name="confirmPassword"
                                            label="Confirmar Contraseña"
                                            id="confirmPassword"
                                            type="password"
                                            required
                                            v-model="passwordConfirm"
                                            :rules="[comparePasswords]"

                                            :append-icon="passwordConfirmVisible ? 'visibility' : 'visibility_off'"
                                            :type="passwordConfirmVisible ? 'text' : 'password'"
                                            @click:append="passwordConfirmVisible = !passwordConfirmVisible" />
                                </v-flex>

                                <div>
                                    <v-alert
                                            style="display: none;"
                                            id="pepe"
                                            v-model="alerta"
                                            dismissible="true"
                                            transition="scale-transition"
                                            outline
                                            type="error">
                                        Oops!  Parece que tu enlace de restablecimiento de contraseña inválido.
                                    </v-alert>
                                </div>

                                <div>
                                    <v-alert
                                            style="display: none;"
                                            id="exito"
                                            dismissible="true"
                                            transition="scale-transition"
                                            outline
                                            type="success">
                                    </v-alert>
                                </div>

                                <v-flex class="text-xs-center" mt-3>
                                    <v-btn color="primary"
                                           type="submit"
                                           id="btn_succes"
                                           :disabled="!validar">
                                        <v-icon>vpn_key</v-icon>Cambiar contraseña
                                    </v-btn>

                                    <v-btn id="loading" color="primary" loading style="display: none;">

                                    </v-btn>

                                </v-flex>

                            </v-layout>
                        </form>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</div>

<script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vuetify.min.js}"></script>
<script>

    var URL_RESET_PASSWORD = 'http://172.16.30.17:2030/winter/reset';

    var app = new Vue({
        el: '#app',

        data: {
            passwordRules: [v => !!v || "Escriba la contraseña del usuario"],
            alerta: true,

            passwordVisible: false,
            password: '',

            passwordConfirmVisible: false,
            passwordConfirm: '',

            isLoading: false
        },

        methods: {
            async changePassword() {
                console.log('pepe: ' + this.password)

                var requestBody = {
                    token: document.getElementById('token').value,
                    password: this.password
                }

                console.log(requestBody)

                var config = {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                        // 'Content-Type': 'application/json;charset=UTF-8'
                    }
                }

                var params = new URLSearchParams();
                params.append('token', document.getElementById('token').value);
                params.append('password', this.password);

                axios.post(URL_RESET_PASSWORD, params, config)
                // axios.post({
                //     url: URL_RESET_PASSWORD,
                //     method: 'post',
                //     data: params
                //     // data: {
                //     //     token: document.getElementById('token').value,
                //     //     password: this.password
                //     // }
                // })
                .then(function (response) {

                    console.log(response.data);
                    console.log(response.data.mensaje);

                    document.getElementById("exito").style.display = '';
                    document.getElementById("exito").innerHTML = response.data.message;

                    document.getElementById("btn_succes").style.display = '';
                    document.getElementById("loading").style.display = 'none';

                    window.setTimeout(function(){
                        window.location.href = "/winter/login";
                    }, 4000);

                })
                .catch(function (error) {
                    console.log('error')
                    document.getElementById("btn_succes").style.display = '';
                    document.getElementById("loading").style.display = 'none';
                    console.log(error)
                    document.getElementById("pepe").style.display = '';

                    var y = document.getElementsByClassName('v-alert__dismissible');
                    var aNode = y[0];
                    aNode.addEventListener("click", () => {
                        document.getElementById("pepe").style.display = 'none';
                    })
                });

            }
        },

        computed: {
            validar() {

                if (this.password.length > 0 &&
                    this.passwordConfirm.length > 0 &&
                    this.password === this.passwordConfirm) {
                    // disable
                    return this.valid = true
                }  else {
                    return this.valid = false
                }
            },

            comparePasswords() {
                return this.password === this.passwordConfirm ? true : 'Las contraseñas no coinciden'
            }
        }
    });
</script>
</body>
</html>